<template>
  <b-row class="home">
    <b-col lg="12">
      <b-spinner v-if="isFetch == 0" label="Spinning"></b-spinner>
        <h2 v-if="isFetch == 1">Rooms List</h2>
        <h2 v-if="isFetch == 2">No Rooms Avaible</h2>
    </b-col>
    <b-col lg="2">
      <b-form-select v-if="isFetch" v-model="selected" :options="options"></b-form-select>
    </b-col>
    <b-col lg="12" v-for="room in rooms" v-bind:key="room.key" class="align-items-stretch">
      <b-card v-bind:title="room.name" class="custom-card">
        <b-card-text>
          <ul>
            <li>
              Capacity : {{ room.capacity }}
            </li>
            <li >
              Equipements :
              <ul id="list-equipement">
                <li v-for="equipement in room.equipements" v-bind:key="equipement.key">
                  {{ equipement.name }}
                </li>
              </ul>
            </li>
          </ul>
        </b-card-text>
        <b-button href="#" variant="primary">Book</b-button>
      </b-card>
    </b-col>
  </b-row>
</template>
<script>
import axios from 'axios'
export default {
  name: 'Home',
  methods: {
    getRooms () {
      axios.get('http://localhost:8081/api/rooms')
        .then(response => {
          this.rooms = response.data.rooms
          this.isFetch = 1
          console.log('ROOOMS', this.rooms)
        })
        .catch(err => {
          this.isFetch = 2
          console.error(err)
        })
    }
  },
  data () {
    return {
      rooms: [],
      isFetch: 0,
      selected: null,
        options: [
          { value: null, text: 'Please select some item' },
          { value: 'a', text: 'This is First option' },
          { value: 'b', text: 'Default Selected Option' },
          { value: 'c', text: 'This is another option' },
          { value: 'd', text: 'This one is disabled', disabled: true }
        ]
    }
  },
  mounted () {
    this.getRooms()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 0 10px;
}
a {
  color: #42b983;
}
.card {
  margin-bottom: 20px;
}

#list-equipement {
  list-style-type: circle;
}
</style>console.log(response.data.rooms)
